* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Carrito*/
main {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    }

h1 {
    display: flex;
    justify-content: center;
    padding: 40px;
   }


img {
    width: 5vw;
}

div.producto1, div.producto2 {
    width: 90vw;
    border: solid rgba(109, 109, 109, 0.10) 1px;
    margin: auto;
    border-radius: 5px;    
}

.producto1 a , .producto2 a {
    padding: 0 50px;
}
div.actualizar {
    border: solid rgba(109, 109, 109, 0.10) 1px;
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

a.actualizar-carrito {
    border: solid #a5570a 1px;
    background-color: #a5570a;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 2px;
    }

.actualizar a:hover {
    background: #ceac7c;
    text-shadow: none;
    border: solid #ceac7c 1px;
}

.img-producto1 , .img-producto2 {
    display: flex; ;
    justify-content: center;
    max-width: 20%;
}    

a.eliminar{
   padding: 20px;
   color:rgba(109, 109, 109, 0.50)
}   

.precio-producto1 , .cant-producto1 , .subtotal-producto1 , .precio-producto2 , .cant-producto2 , .subtotal-producto2 {
    display: flex;
    justify-content: space-between;
}

.producto-producto1 , .producto-producto2 {
    display: flex;
    justify-content: center;
    max-width: 20%;
    text-align: center;
}

section.total {
    padding: 50px;
    }

    div.filaTotal {
    margin: auto;
    display: flex;
    justify-content: left;
    border: solid rgba(109, 109, 109, 0.10) 1px;
    margin-right: 10px;
    background-color: #F5ECCE;
    border-radius: 5px;      
}

section.total div.box-total {
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: solid rgba(109, 109, 109, 0.10) 1px;
    margin-right: 10px;
    border-radius: 5px;
    }

section.total div.finalizar {
    margin: auto;
    display: flex;
    justify-content: center;
    border: solid rgba(109, 109, 109, 0.10) 1px;
    margin-right: 10px;
    background-color: #F5ECCE;
    padding: 10px;
    border-radius: 5px;
   }

 a.finalizar-compra {
     border: solid #ceac7c 1px;
     background-color: #ceac7c;
     text-decoration: none;
     color: white; 
     border-radius: 5px;
     padding: 2px;
 }

 div.finalizar a:hover {
    background: #ceac7c;
    text-shadow: none;
    border: solid #ceac7c 1px;
}



/* Media */

 @media (min-width: 768px) {
    .producto1, .producto2 {
        width: 95vw;
        border: solid black 1px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
  .actualizar {
      width: 95vw;
  }
    
section.total {
        padding: 50px;
     }
    div.filaTotal {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: left;
        margin-right: 10px;
        background-color: #F5ECCE;
    }
    
    div.box-total {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: space-between;
        border: dotted black 1px;
        margin-right: 10px;
        }
         
    div.finalizar {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: center;
        border: dotted black 1px;
        margin-right: 10px;
        background-color: #F5ECCE;
       }
    
     .finalizar a {
         border: solid #a5570a 1px;
         background-color: #a5570a;
         text-decoration: none;
         color: white;
     }
}

