* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*Formulario de registro de la página*/
#titulo {
    color: #2c3425;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px ;
}

#subtitulo {
    color: #2c3425;
    text-align: center;
}

main {
    align-items: center;
}

fieldset {
    background-color: #fef9f2;
    display: flex;
    width: 40%;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    max-width: 400px;
    border: solid rgba(109,109,109, 0.1) 1px;
    margin-bottom: 50px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 5px;
}

.create-form {
    padding: 20 px 15px; 
    margin-bottom: 5px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.campo label{
    margin-bottom: 5px;
    margin-top: 15px;
    color: #2c3425; 
    text-align: left;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    border-radius: 5px;
}

.campo input{
    padding: 6px 12px;
    display: block;
    text-align: left;
    border-radius: 5px;
    width: 95%;
}

span.error {
    width: 90%;
    text-align:left;
    font-size: 15px;
}
    
.create-form input:focus, .campo :focus {
    background: rgb(240, 243, 245);
    border:1px solid #2090e6; 
}

.create-form .boton {
    background-color: #a5570a; ;
    border:0; 
    font-size: 15px;
    margin: 15px ;
    color: white;
    padding: 0.2em 0.6em;
    border-radius: 5px;
    font-weight: 500;
}

.boton:hover {
    background: #ceac7c;
    box-shadow: inset2px 2px 2px rgba(0,0,0.2);
    text-shadow: none;  
}

.sesion a {
    text-decoration: none;
    color: rgb(115, 117, 115);
}

.sesion a:hover {
    color: #a7c697;
    box-shadow: inset2px 2px 2px rgba(0,0,0.2);
    text-shadow: none;
}
 
div.text-danger {
    color: red; 
    text-decoration: none;
}

/* .errorName {
    display: none;
    
} */

.errorFront {
    color: red; 
}
 